<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    
  </system.web>
  <connectionStrings>
    <add name="HighExpertDb" connectionString="Server=VMDB01;Database=HighExpertStore;User ID=admaz;Password=Gu1lh3rm3ti*;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument enabled="true"><files><clear/><add value="index.html"/></files></defaultDocument>
  </system.webServer>
</configuration>